
<table>
  <tr>
      <td>Code</td>
      <td>Name</td>
      <td>Description</td>
  </tr>    
<% @courses.each do |course| %>
  <tr>
      <td><%=course['code']%></td>
      <td><%=course['name']%></td>
      <td><textarea><%=course['description']%></textarea></td>
      </td>
  </tr>
<% end %>
</table>