
<table>
  <tr>
      <td>Code</td>
      <td>Name</td>
      <td>Description</td>
      <td>Show Details</td>
  </tr>    
<% @courses.each do |course| %>
  <tr>
      <td><%=course['code']%></td>
      <td><%=course['name']%></td>
      <td><textarea><%=course['description']%></textarea></td>
      <td><a href="/courses/<%=course['id']%>">Show Details</a></a></td>
      </td>
  </tr>
<% end %>
</table>
<% if @links["first"] %>
  <a href="/courses?url=first">First</a>
<% end %>

<% if @links["next"] %>
  <a href="/courses?url=next">Next</a>
<% end %>

<% if @links["last"] %>
  <a href="/courses?url=last">Last</a>
<% end %>