
<table class="table table-bordered table-condensed">
  <tr class="warning">
      <td>Code</td>
      <td>Name</td>
      <td>Description</td>
      <td>Show Details</td>
  </tr>    
<% @courses.each do |course| %>
  <tr>
      <td><%=course['code']%></td>
      <td><%=course['name']%></td>
      <td><textarea><%=course['description']%></textarea></td>
      <td><a href="/courses/<%=course['id']%>">Show Details</a></a></td>
      </td>
  </tr>
<% end %>
</table>
<% if @links["first"] %>
  <a href="/courses?url=first" class="btn btn-primary pull-left">First</a>&nbsp;&nbsp;
<% end %>

<% if @links["next"] %>
  <a href="/courses?url=next" class="btn btn-success pull-center">Next</a>&nbsp;&nbsp;
<% end %>

<% if @links["last"] %>
  <a href="/courses?url=last" class="btn btn-danger pull-right">Last</a>&nbsp;&nbsp;
<% end %>