<h4 class="text text-error"><%= @course['name'].upcase %></h4>
<br />
Description: <p class="text text-info"><%= @course['description']%></p>
Code: <%= @course['code'] %>

<br />
<br />

<%= link_to "Back", courses_url%>